img {
    width: 300px;
    height: 300px;

}

.tdborderless {
    border: none;
}


td {
    border: 1px solid black;

}



table {
    width: 500px;
}


.lvert{
	color: black;
	background-color: green;
	height: 50px;
	width: 50px;
	position: relative;
}


.lorange{
	color: black;
	background-color: orange;
	height: 50px;
	width: 50px;
	position: relative;
}

.lrouge{
	color: black;
	background-color: red;
	height: 50px;
	width: 50px;
	position: relative;
}

.lgris{
	color: black;
	background-color:grey;
	height: 50px;
	width: 50px;
	position: relative;
}

.lnoire{
	color: black;
	background-color: black;
	height: 50px;
	width: 50px;
	position: relative;
}

li{
	list-style: none;
	float: left;
}